SESSION_SECRET=
TURSO_DATABASE_URL=libsql://...
TURSO_AUTH_TOKEN=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_FROM=
APP_URL=
ALLOWED_ORIGIN=
ALLOWED_REGISTER_DOMAINS=
SESSION_MAX_AGE_DAYS=7
ENABLE_DAILY_REPORTS=
